body {
    font: 24px 'Century Gothic', Futura, sans-serif;
    margin: 20px;
}

ol,
ul {
    padding-left: 30px;
}

.board-row:after {
    clear: both;
    content: '';
    display: table;
}


.status {
    margin-bottom: 10px;
}

.square {
    background: #fff;
    /* border: 1px solid #999; */
    border: none;
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    height: 54px;
    margin-right: -4px;
    margin-top: -4px;
    padding: 0;
    text-align: center;
    width: 54px;
    cursor: pointer;
}

.sqr0{
    border-right: 4px solid rgb(94, 54, 54);
    border-bottom: 4px solid rgb(94, 54, 54);
}
.sqr1{
    border-left: 4px solid rgb(94, 54, 54);
    border-right: 4px solid rgb(94, 54, 54);
    border-bottom: 4px solid rgb(94, 54, 54);
}
.sqr2{
    border-left: 4px solid rgb(94, 54, 54);
    border-bottom: 4px solid rgb(94, 54, 54);
}
.sqr3{
    border-top: 4px solid rgb(94, 54, 54);
    border-right: 4px solid rgb(94, 54, 54);
    border-bottom: 4px solid rgb(94, 54, 54);
}
.sqr4{
    border: 4px solid rgb(94, 54, 54);
}
.sqr5{
    border-left: 4px solid rgb(94, 54, 54);
    border-top: 4px solid rgb(94, 54, 54);
    border-bottom: 4px solid rgb(94, 54, 54);
}
.sqr6{
    border-top: 4px solid rgb(94, 54, 54);
    border-right: 4px solid rgb(94, 54, 54);
}
.sqr7{
    border-left: 4px solid rgb(94, 54, 54);
    border-top: 4px solid rgb(94, 54, 54);
    border-right: 4px solid rgb(94, 54, 54);
}
.sqr8{
    border-top: 4px solid rgb(94, 54, 54);
    border-left: 4px solid rgb(94, 54, 54);
}
.square--green {
    background: green;
}

.square:focus {
    outline: none;
}

.kbd-navigation .square:focus {
    background: #ddd;
}

.game {
    display: flex;
    flex-direction: row;
}

.game-info {
    margin-left: 20px;
}

.button {
    background-color: #555555; /* Green */
    border: none;
    color: #fff;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    cursor: pointer;
}

.button--green {
    background-color: #4caf50;
    color: #000;
    font-weight: bold;
}

.button--new-game {
    background-color: #bb3219;
    color: #000;
    font-weight: bold;
    margin-left: 2px;
}

/* CUstome style ...Rifat.. */
.game-board{
    width: 170px;
    margin: 5px auto;
}